h1 {
    text-align: center;
}
#signs {
    width: 100%;
    height: 150px;
}
td,th {
    text-align: center;
    border-radius: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}
#no2 {
    font-size: larger;
    background-color: deepskyblue;
    color: white;
}
button{
    padding: 7.5px 15px;
    border-radius: 5px;
    background-color: #74f144;
    color: #ffffff;
    border: none;
    outline: none;
}
.tieude {
    font-size: 35px;
    background-color: #c3f1ea;
    color: #f521c0
}
.table1{
    width: 600px;
    height:300px;
    background-color: #fdb0fc;
    color: #fd0606;
    border-radius: 5px;
}
body{
    background-image: url("https://dep.anh9.com/imgs/131020hinh-nen-hoa-nuoc=-xanh-mat.jpg")
}
.tieudechinh{
    font-size: 50px;
    color: #f144e8;
    background-image: url("https://file.hstatic.net/200000318987/collection/3_99174fe4ca6a47d09b1a2d6f17a76914.jpg");

    height: 300px;
}

.hoverimage img{
    -webkit-transform:scale(1.0);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    opacity: 1.0;
    margin: 0 10px 5px 0;
}
.hoverimage img:hover{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -o-transform:scale(1.5);
    box-shadow:0px 0px 30px gray;
    -webkit-box-shadow:0px 0px 30px gray;
    -moz-box-shadow:0px 0px 30px gray;
    opacity: 1;
}
h2 {
    color: #58257b
}

ul {

    list-style-type: none;

    padding: 0;
    overflow: hidden;


}

li {
    float: left;
    align-items: center;
    justify-content: center;

}

li a,.DieuHuong {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a,.DieuHuong,option:hover {
    color: white;
    background-color: #db7093;
    font-weight: bold;
    border-radius: 5px;
}
.DieuHuong {
    border: 2px;
    border-color: #db7093;
}
#timKiem[type="text"] {
    width: 150px;


    border-radius: 4px;
    outline:none;
    padding: 10px 8px;
    transition:0.6s ease-in-out;
}
#timKiem[type="text"]:focus{
    width:500px;
    background-color:lightpink;
}
