h1 {
    text-align: center;
}
#signs {
    width: 100%;
    height: 150px;
}
td,th {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}
#no2 {
    font-size: larger;
    background-color: deepskyblue;
    color: white;
}