table{
    text-align: center;
    border-collapse: collapse;
    width: 600px;
    height:400px;
    font-family: Arial;
    font-size: 32px;
    margin-left: 30%;
    table-layout: fixed;
}
tr{
    border: 1px solid gray;

}
.tr{
    border:  white;
    border-bottom-color: gray;
    font-size:24px
}
.o{
    background-color: darkorange;
}
.bl{
    color: red;
}
.rd{
    color: blue;
}
sub{
    color: black;
    font-size: 21px
}
h1{
    text-align: center;
    font-family: Arial;
    color: blue;
}